body { font-family: verdana, sans-serif; font-size: 12px; }
body, h2 { background: url(https://cdn.galen.xyz/parchment2.jpg); }
@font-face { font-family: gabriela; src: url(https://cdn.galen.xyz/Gabriela-Regular.ttf); }
.sc { font-family: "dejavu sans", verdana, sans-serif; font-variant: small-caps }
b.mini .sc, .name .sc { font-family: inherit; }
.pl { text-decoration: none; color: green; }
h2 { opacity: 0.875; padding-bottom:3px; margin-bottom:-3px; top: 0; margin-left: -8px; padding-left: 8px; z-index: 1; position: sticky; }
h2.gen { color:green; font-size:27px; margin-top: 1.5ex; font-family: gabriela; }
h2.gen > a { color:inherit; text-decoration:inherit; }
h2.gen > div {
   position:relative; width:14px; float:left; font-size:16px; font-family: verdana; }
h2.gen > div > div { position: absolute; display:block; }
h2.gen > div > div:first-child { top: -1px; z-index: 3; }
h2.gen > div > div:nth-child(2) { top: 10px; }
h2.gen > div a { opacity: 0.25; text-decoration: none; color: black; }
h2.gen > div a:hover { opacity: 0.75; }
h2:not(.gen) { margin-left: 6px; }
section:first-of-type { margin-top: 6ex; }
div.supp { background:#eeeeee; padding: 0 1em; }
div.supp:not(.show) { display:none; }
div.sibs { padding: 0 0 12px 2px; }
div.kids { padding: 0 0 12px 2px; }
div.mini { padding: 4px 0 0 24px; text-indent: -24px; }
div.kid { padding-left: 18px; }
div.entry { padding: 2px 12px 14px 40px; }
div.entry .top { font-size: 167%; }
a:target { padding-top: 84px; margin-top: -84px; }
:target + .top > a:first-of-type { background-color: #ff90d840; border-radius: 7px; padding: 0 5px; margin: 0 -5px; color: #555; }
div.entry .indent { margin-left: 17px; }
section#biblio > h2, h2#biblio { font-size:26px; color:blue; margin-top:90px }
div.biblio { margin-left: 40px; }
div.biblio p { padding-left: 48px; text-indent: -48px; }
.ats { font-size: 77%; font-weight: normal; color: black; font-style: italic; }
.at2 { font-size: 44%; font-weight: normal; color: black; }
.dnabox { font:bold 11.5px verdana, sans-serif;vertical-align:3px; border:1px solid;padding:0 1px 0 1px; white-space: nowrap; }
.greyedblue { color: #9999cc; }
.red { color: red; }
.blue { color: blue; }
.grey { color: grey; }
b.mini { font-size: 120%; color: brown; font-family: gabriela; margin-right: 1.25em }
b.maxi { font-size: 167%; }
.listhead { font-size: 120%; }
.multi { font-size: 17px; font-weight: bold; vertical-align: 1px; text-decoration: none; }
.multi a { color: blue; text-decoration: none; }
.name { color: brown; font-family: gabriela; }
div.mini span.sex { font-size: 120%; float: left; width: 1.67ex; }
.sex { font-size: 167%; font-family: "dejavu serif"; }
.fade { opacity: 0.4; }
.fade2 { opacity: 0.3333; }
div.nobio { padding-bottom: 28px; }
.coverage { margin-bottom: 20px; margin-left: 19px; }
p.bioline { margin-top: 0; }
a.cite { color: inherit; text-decoration-style: dotted; -moz-text-decoration-style: dotted; }
span.cite { text-decoration: underline; text-decoration-style: dotted; -moz-text-decoration-style: dotted; }
.icon { width: 16px; height: 16px; }
.sp { margin-right: 2em; padding-left: 30px; text-indent: -30px; display: inline-block; }
a.quiet { text-decoration: inherit; color: inherit; }
a { overflow-wrap: break-word; }
/* @media (-webkit-min-device-pixel-ratio:0) { .sc { font-size: 108%; } } */
.c { font-size: 80%; }
/* .xr { color: #8888ff; text-decoration: none } */
.plb { padding: 0; margin: 0; background: inherit; border: 0; cursor: pointer; }

